{% extends "base.html" %} {% block title %}Badges{% endblock %} {% block
content%}

<!-- Import the CSS file -->
<link
  rel="stylesheet"
  type="text/css"
  rel="stylesheet"
  type="text/css"
  href="/static/badges.css"
/>
<h1>Badges</h1>
<!-- First Box -->
<div class="box-container">
  <div class="box">
    <img src="/static/images/badges-1.png" alt="Image 1" />
    <h3>Welcome Wanderer</h3>
    <h6>Complete login</h6>
  </div>
  <!-- Second Box -->
  <div class="box">
    <img src="/static/images/badges-2.png" alt="Image 2" />
    <h3>Kindness Crusader</h3>
    <h6>Complete login for 5 days</h6>
  </div>
  <!-- Third Box -->
  <div class="box">
    <img src="/static/images/badges-3.png" alt="Image 3" />
    <h3>Empathy Ambassador</h3>
    <h6>Complete login for 7 days</h6>
  </div>
  <!-- Fourth Box -->
  <div class="box">
    <img src="/static/images/badges-4.png" alt="Image 4" />
    <h3>Mindfulness Master</h3>
    <h6>Complete video journal</h6>
  </div>
  <!-- Fifth Box -->
  <div class="box">
    <img src="/static/images/badges-5.png" alt="Image 5" />
    <h3>Courage Champion</h3>
    <h6>Complete login for 10 days</h6>
  </div>
  <!-- Sixth Box -->
  <div class="box">
    <img src="/static/images/badges-6.png" alt="Image 6" />
    <h3>Positivity Pioneer</h3>
    <h6>Complete login for 15 days</h6>
  </div>
  <!-- Seventh Box -->
  <div class="box">
    <img src="/static/images/badges-7.png" alt="Image 7" />
    <h3>Supportive Soul</h3>
    <h6>Complete video journal 10 times</h6>
  </div>
  <!-- Eigth Box -->
  <div class="box">
    <img src="/static/images/badges-8.png" alt="Image 8" />
    <h3>Self-Care Guru</h3>
    <h6>Complete login for 30 days</h6>
  </div>
  <!-- Ninth Box -->
  <div class="box">
    <img src="/static/images/badges-9.png" alt="Image 9" />
    <h3>Bravery Beacon</h3>
    <h6>Complete login for 45 times</h6>
  </div>
  <!-- Tenth Box -->
  <div class="box">
    <img src="/static/images/badges-10.png" alt="Image 10" />
    <h3>Compassion Captain</h3>
    <h6>Complete video journal 30 times</h6>
  </div>
  <!-- Eleventh Box -->
  <div class="box">
    <img src="/static/images/badges-11.png" alt="Image 11" />
    <h3>Wisdom Warrior</h3>
    <h6>Complete login for 60 times</h6>
  </div>
  <!-- Twelth Box -->
  <div class="box">
    <img src="/static/images/badges-12.png" alt="Image 12" />
    <h3>Joyful Journeys Guide</h3>
    <h6>Complete video journal 45 times</h6>
  </div>
</div>
{% endblock %}
