<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}User Input Form{% endblock %}</title>

    <!-- Link to the external CSS file -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/base.css"
    />

    <!-- Your inline CSS styles -->
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('signup') }}">Signup</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li>
          <a href="{{ url_for('mental_health') }}">Assessing Mental Health</a>
        </li>
        <li>
          <a href="{{ url_for('menstrual_info') }}">Menstrual Information</a>
        </li>

        <li><a href="{{ url_for('track_periods') }}">Track Your Periods</a></li>
      </ul>
    </nav>

    <div class="content">{% block content %}{% endblock %}</div>

    <!-- <div class="home">
      <h2>Welcome to our User Input Form</h2>
      <p>This is the home page section. You can add content here.</p>
    </div> -->
  </body>
</html>
