{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="home">
<section class="SecA">
        <!-- <nav>
            <ul>
            <li class="nav-item">
            <a href="" class="SecAnav">Home</a> 
            </li>
            <li class="nav-item">
            <a class="SecAnav" href="#About">About</a>
            </li>
            <li class="nav-item">
            <a class="SecAnav" href="/signin">Sign In</a>
            </li>
            <li class="nav-item">
            <a class="SecAnav" href="/login">Log In</a>
            </li> -->
            <!-- <li class="dropdown" >
                <a href="javascript:void(0)" class="dropbtn">Sign In</a>
                <div class="dropdown-content">
                  <a href="/signin">Sign In</a>
                  <a href="/login">Log In</a>
                </div>
              </li> -->
            <!-- </ul>
        </nav> -->

        <div class="parent-body">
          <div class="content">
              <div class="content-child" id="content-text" >
                <div class="headertypewriter">
              <h1 style="font-size: 2vmax; color: white; margin-bottom: 200px;">Welcome to MindFlow.</h1>
                </div>
              <p style="color:white;">Lorem ipsum dolor sit adolorum ea obcaecati neque alias aspernatur pariatur! Vel quidem impedit excepturi doloribus! Nihil illum quasi nisi harum quo minima aliquam corrupti possimus cupiditate consequuntur est quia ad, non, quod perferendis accusantium maiores amet aliquid voluptas obcaecati officiis doloremque a?</p>
              </div>
          </div>
          
          
          <div class="features" id='features-id'>
              <div class="feature-box">
                  <h2 style="font-size: 2vmax; color: black;">Features</h2>
                  <div class="feature-content">
                      <div class="feature-child" id='feature1'>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptatibus iste perspiciatis optio explicabo accusantium laudantium dicta itaque earum quasi neque error aspernatur, veritatis quibusdam! Officia porro maiores ipsum officiis necessitatibus doloremque iure quia quos? Officiis sequi sapiente dolores pariatur, aspernatur necessitatibus et debitis, quo aliquam nemo ullam? Eligendi, sapiente!</p>
                      </div>
                      <div class="feature-child" id='feature2'>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nobis eos exercitationem, consequuntur eveniet impedit. Explicabo molestiae sed impedit deserunt illum fuga doloribus incidunt odio est, quaerat non cum blanditiis in facilis vel inventore quasi omnis ut. Quidem officiis pariatur sapiente ea saepe veniam amet tempora, placeat accusantium itaque qui!</p>
                      </div>
                      <div class="feature-child" id='feature3'>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos quam maiores fuga quibusdam incidunt perferendis doloribus sint sed. Quo quisquam, hic quaerat debitis eius corporis iusto maxime sapiente praesentium, ipsum minus molestiae excepturi amet ex iure veritatis sit architecto labore unde, magnam obcaecati numquam ipsam fuga reprehenderit! Minus, dolore ducimus?</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="cta">
              <div class="cta-child">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam cumque magni totam aliquam ab id beatae quo nisi numquam blanditiis quibusdam doloribus delectus iste, possimus iusto, ut, laudantium molestiae nostrum!</p>
                  <button>Sign Up</button>
              </div>
          </div>
          <div class="footer">
              <div class="footer-icon"></div>
              <div class="footer-links">
                  <a href="#">privacy policy</a>
                  <!-- <div class="separator"></div> -->
                  <a href="#">help</a>
                  <!-- <div class="separator"></div> -->
                  <a href="#" style="border: none;">terms of use</a>
              </div>
              <div class="footer-foot">
                  <div class="foot-copyright">
                      <p>Copyright © mindflow 2023.All rights reserved</p>
                  </div>
                  <div class="foot-socials">
                      <p>Connect with us</p>
                      <div class="social-icons">
                          <div class="gmail"></div>
                          <div class="facebook"></div>
                          <div class="instagram"></div>
                          <div class="twitter"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</div>
{% endblock %}
