{% extends "base.html" %} {% block title %} Login {% endblock %} {% block
content %}
<!-- Import the CSS file -->
<link
  rel="stylesheet"
  type="text/css"
  rel="stylesheet"
  type="text/css"
  href="/static/login.css"
/>
<form action="{{ url_for('login') }}" method="post" class="login-form">
  <h2>Login</h2>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />
 
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <button type="submit">Login</button>
</form>


{% endblock %}
