{% extends "base.html" %} {% block title %}Assessing Mental Health{% endblock %}
{% block content %}
<h1>Assessing Mental Health</h1>
<div class="mentalmain">
  <form action="{{ url_for('mental_health') }}" method="post" class="mental">
    <form>
      <label for="question1"
        >1. Have you been avoiding social interaction?</label
      >
      <div class="container">
        <div class="selector">
            <div class="selector-item">
                <input type="radio" id="q11" value='1' name="question1" class="selector-item_radio">
                <label for="q11" class="selector-item_label">Not at all</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q12" value='2' name="question1" class="selector-item_radio">
                <label for="q12" class="selector-item_label">Slightly</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q13" value='3' name="question1" class="selector-item_radio">
                <label for="q13" class="selector-item_label">Moderately</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q14" value='4' name="question1" class="selector-item_radio">
                <label for="q14" class="selector-item_label">Often</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q15" value='5' name="question1" class="selector-item_radio">
                <label for="q15" class="selector-item_label">Always</label>
            </div>
        </div>
    </div><br /><br />

      <label for="question2"
        >2. Have you lost interest in activities that once brought you
        joy?</label
      >
      <div class="container">
        <div class="selector">
            <div class="selector-item">
                <input type="radio" id="q21" value='1' name="question2" class="selector-item_radio">
                <label for="q21" class="selector-item_label">Not at all</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q22" value='2' name="question2" class="selector-item_radio">
                <label for="q22" class="selector-item_label">Slightly</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q23" value='3' name="question2" class="selector-item_radio">
                <label for="q23" class="selector-item_label">Moderately</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q24" value='4' name="question2" class="selector-item_radio">
                <label for="q24" class="selector-item_label">Often</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q25" value='5' name="question2" class="selector-item_radio">
                <label for="q25" class="selector-item_label">Always</label>
            </div>
        </div>
    </div><br /><br />

      <label for="question3"
        >3. Are you experiencing difficulties with sleep patterns
        (insomnia)?</label
      >
      <div class="container">
        <div class="selector">
            <div class="selector-item">
                <input type="radio" id="q31" value='1' name="question3" class="selector-item_radio">
                <label for="q31" class="selector-item_label">Not at all</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q32" value='2' name="question3" class="selector-item_radio">
                <label for="q32" class="selector-item_label">Slightly</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q33" value='3' name="question3" class="selector-item_radio">
                <label for="q33" class="selector-item_label">Moderately</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q34" value='4' name="question3" class="selector-item_radio">
                <label for="q34" class="selector-item_label">Often</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q35" value='5' name="question3" class="selector-item_radio">
                <label for="q35" class="selector-item_label">Always</label>
            </div>
        </div>
    </div><br /><br />

      <label for="question4"
        >4. Have you recently experienced a significant loss or life
        event?</label>
      <div class="container">
        <div class="selector">
            <div class="selector-item">
                <input type="radio" id="q41" value='1' name="question4" class="selector-item_radio">
                <label for="q41" class="selector-item_label">Not at all</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q42" value='2' name="question4" class="selector-item_radio">
                <label for="q42" class="selector-item_label">Slightly</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q43" value='3' name="question4" class="selector-item_radio">
                <label for="q43" class="selector-item_label">Moderately</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q44" value='4' name="question4" class="selector-item_radio">
                <label for="q44" class="selector-item_label">Often</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q45" value='5' name="question4" class="selector-item_radio">
                <label for="q45" class="selector-item_label">Always</label>
            </div>
        </div>
    </div><br /><br />

      <label for="question5"
        >5. Have you been experiencing persistent sadness or
        hopelessness?</label
      ><div class="container">
        <div class="selector">
            <div class="selector-item">
                <input type="radio" id="q51" value='1' name="question5" class="selector-item_radio">
                <label for="q51" class="selector-item_label">Not at all</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q52" value='2' name="question5" class="selector-item_radio">
                <label for="q52" class="selector-item_label">Slightly</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q53" value='3' name="question5" class="selector-item_radio">
                <label for="q53" class="selector-item_label">Moderately</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q54" value='4' name="question5" class="selector-item_radio">
                <label for="q54" class="selector-item_label">Often</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q55" value='5' name="question5" class="selector-item_radio">
                <label for="q55" class="selector-item_label">Always</label>
            </div>
        </div>
    </div><br /><br />

      <label for="question6"
        >6. Do you think you could just vanish from earth?</label
      >
      <div class="container">
        <div class="selector">
            <div class="selector-item">
                <input type="radio" id="q61" value='1' name="question6" class="selector-item_radio">
                <label for="q61" class="selector-item_label">Not at all</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q62" value='2' name="question6" class="selector-item_radio">
                <label for="q62" class="selector-item_label">Slightly</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q63" value='3' name="question6" class="selector-item_radio">
                <label for="q63" class="selector-item_label">Moderately</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q64" value='4' name="question6" class="selector-item_radio">
                <label for="q64" class="selector-item_label">Often</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q65" value='5' name="question6" class="selector-item_radio">
                <label for="q65" class="selector-item_label">Always</label>
            </div>
        </div>
    </div><br /><br />

      <label for="question7"
        >7. Do you think you are a burden to your loved ones?</label
      >
      <div class="container">
        <div class="selector">
            <div class="selector-item">
                <input type="radio" id="q71" value='1' name="question7" class="selector-item_radio">
                <label for="q71" class="selector-item_label">Not at all</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q72" value='2' name="question7" class="selector-item_radio">
                <label for="q72" class="selector-item_label">Slightly</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q73" value='3' name="question7" class="selector-item_radio">
                <label for="q73" class="selector-item_label">Moderately</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q74" value='4' name="question7" class="selector-item_radio">
                <label for="q74" class="selector-item_label">Often</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q75" value='5' name="question7" class="selector-item_radio">
                <label for="q75" class="selector-item_label">Always</label>
            </div>
        </div>
    </div><br /><br />

      <label for="question8"
        >8. Do you feel like the emotional and physical pain you are going
        through is unbearable?</label
      >
      <div class="container">
        <div class="selector">
            <div class="selector-item">
                <input type="radio" id="q81" value='1' name="question8" class="selector-item_radio">
                <label for="q81" class="selector-item_label">Not at all</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q82" value='2' name="question8" class="selector-item_radio">
                <label for="q82" class="selector-item_label">Slightly</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q83" value='3' name="question8" class="selector-item_radio">
                <label for="q83" class="selector-item_label">Moderately</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q84" value='4' name="question8" class="selector-item_radio">
                <label for="q84" class="selector-item_label">Often</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q85" value='5' name="question8" class="selector-item_radio">
                <label for="q85" class="selector-item_label">Always</label>
            </div>
        </div>
    </div><br /><br />

      <label for="question9">9. Are you really happy now?</label>
      <div class="container">
        <div class="selector">
            <div class="selector-item">
                <input type="radio" id="q91" value='1' name="question9" class="selector-item_radio">
                <label for="q91" class="selector-item_label">Not at all</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q92" value='2' name="question9" class="selector-item_radio">
                <label for="q92" class="selector-item_label">Slightly</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q93" value='3' name="question9" class="selector-item_radio">
                <label for="q93" class="selector-item_label">Moderately</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q94" value='4' name="question9" class="selector-item_radio">
                <label for="radio4" class="selector-item_label">Often</label>
            </div>
            <div class="selector-item">
                <input type="radio" id="q95" value='5' name="question9" class="selector-item_radio">
                <label for="q95" class="selector-item_label">Always</label>
            </div>
        </div>
    </div><br /><br />

      <label for="question10"
        >10. How much are you bothered by your negative thoughts?</label
      >
      <!-- <input
        type="number"
        id="question10"
        name="question10"
        min="1"
        max="5"
        required
      /> -->
      
      <div class="container">
    <div class="selector">
        <div class="selector-item">
            <input type="radio" id="q101" value='1' name="question10" class="selector-item_radio">
            <label for="q101" class="selector-item_label">Not at all</label>
        </div>
        <div class="selector-item">
            <input type="radio" id="q102" value='2' name="question10" class="selector-item_radio">
            <label for="q102" class="selector-item_label">Slightly</label>
        </div>
        <div class="selector-item">
            <input type="radio" id="q103" value='3' name="question10" class="selector-item_radio">
            <label for="q103" class="selector-item_label">Moderately</label>
        </div>
        <div class="selector-item">
            <input type="radio" id="q104" value='4' name="question10" class="selector-item_radio">
            <label for="q104" class="selector-item_label">Often</label>
        </div>
        <div class="selector-item">
            <input type="radio" id="q105" value='5' name="question10" class="selector-item_radio">
            <label for="q105" class="selector-item_label">Always</label>
        </div>
    </div>
</div><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </form>
</div>
<link
  rel="stylesheet"
  type="text/css"
  rel="stylesheet"
  type="text/css"
  href="/static/mental_health.css"
/>
{% endblock %}
