<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pictureradio.css">
    <title>Document</title>
</head>
<body> -->
  {% extends "base.html" %} {% block title %}Assessing Mental Health{% endblock %}
{% block content %}

<link
  rel="stylesheet"
  type="text/css"
  rel="stylesheet"
  type="text/css"
  href="/static/mental_health.css"
/>
  <form action="{{ url_for('mental_health') }}" method="post" class="mental">
    <form>
    <div class="parentrad">
    <div class="main-container">
        <label for="question1"><h2>1. Have you been avoiding social interaction?</h2>
        </label>
        <div class="radio-buttons">
            <label class="custom-radio">
            <input type="radio" id="q11" value='1' name="question1" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/notatall-1.png">
                <h3 class="">Not At All</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"  id="q12" value='2' name="question1" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                             <img src="../static/images/slightly-1.png">
                <h3 class="">Slightly</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"  id="q13" value='3' name="question1" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/moderately-1.png">
                <h3 class="">Moderately</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"  id="q14" value='4' name="question1"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/often-1.png">
                <h3 class="">Often</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"  id="q15" value='5' name="question1" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/always-1.png">
                <h3 class="">Always</h3>
              </div>
            </span>
          </label>
          
        </div>
        
      </div>

      <div class="main-container">
        <label for="question2"><h2>2. Have you lost interest in activities that once brought you
            joy?</h2>
        </label>
        <div class="radio-buttons">
            <label class="custom-radio">
            <input type="radio"  id="q21" value='1' name="question2" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/notatall-1.png">
                <h3 class="">Not At All</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"  id="q22" value='2' name="question2" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                            <img src="../static/images/slightly-1.png">
                <h3 class="">Slightly</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q23" value='3' name="question2">
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                  <img src="../static/images/moderately-1.png">
                <h3 class="">Moderately</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q24" value='4' name="question2">
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
               <img src="../static/images/often-1.png">
                <h3 class="">Often</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q25" value='5' name="question2" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/always-1.png">
                <h3 class="">Always</h3>
              </div>
            </span>
          </label>
          
        </div>
        
      </div>

      <div class="main-container">
        <label for="question3"><h2>3. Are you experiencing difficulties with sleep patterns
            (insomnia)?</h2>
        </label>
        <div class="radio-buttons">
            <label class="custom-radio">
            <input type="radio" id="q31" value='1' name="question3" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/notatall-1.png">
                <h3 class="">Not At All</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q32" value='2' name="question3" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                            <img src="../static/images/slightly-1.png">
                <h3 class="">Slightly</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"id="q33" value='3' name="question3" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                  <img src="../static/images/moderately-1.png">
                <h3 class="">Moderately</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q34" value='4' name="question3"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
               <img src="../static/images/often-1.png">
                <h3 class="">Often</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q35" value='5' name="question3"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/always-1.png">
                <h3 class="">Always</h3>
              </div>
            </span>
          </label>
          
        </div>
        
      </div>
      <div class="main-container">
        <label for="question4"><h2>4. Have you recently experienced a significant loss or life
          event?</h2>
        </label>
        <div class="radio-buttons">
            <label class="custom-radio">
            <input type="radio" id="q41" value='1' name="question4" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/notatall-1.png">
                <h3 class="">Not At All</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q42" value='2' name="question4" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                            <img src="../static/images/slightly-1.png">
                <h3 class="">Slightly</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"id="q43" value='3' name="question4" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                  <img src="../static/images/moderately-1.png">
                <h3 class="">Moderately</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q44" value='4' name="question4"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
               <img src="../static/images/often-1.png">
                <h3 class="">Often</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q45" value='5' name="question4"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/always-1.png">
                <h3 class="">Always</h3>
              </div>
            </span>
          </label>
          
        </div>
        
      </div>
      <div class="main-container">
        <label for="question5"><h2>5. Have you been experiencing persistent sadness or
          hopelessness?</h2>
        </label>
        <div class="radio-buttons">
            <label class="custom-radio">
            <input type="radio" id="q51" value='1' name="question5" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/notatall-1.png">
                <h3 class="">Not At All</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q52" value='2' name="question5" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                            <img src="../static/images/slightly-1.png">
                <h3 class="">Slightly</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"id="q53" value='3' name="question5" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                  <img src="../static/images/moderately-1.png">
                <h3 class="">Moderately</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q54" value='4' name="question5"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
               <img src="../static/images/often-1.png">
                <h3 class="">Often</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q55" value='5' name="question5"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/always-1.png">
                <h3 class="">Always</h3>
              </div>
            </span>
          </label>
          
        </div>
        
      </div>
      <div class="main-container">
        <label for="question6"><h2>6. Do you think you could just vanish from earth?</h2>
        </label>
        <div class="radio-buttons">
            <label class="custom-radio">
            <input type="radio" id="q61" value='1' name="question6" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/notatall-1.png">
                <h3 class="">Not At All</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q62" value='2' name="question6" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                            <img src="../static/images/slightly-1.png">
                <h3 class="">Slightly</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"id="q63" value='3' name="question6" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                  <img src="../static/images/moderately-1.png">
                <h3 class="">Moderately</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q64" value='4' name="question6"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
               <img src="../static/images/often-1.png">
                <h3 class="">Often</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q65" value='5' name="question6"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/always-1.png">
                <h3 class="">Always</h3>
              </div>
            </span>
          </label>
          
        </div>
        
      </div>
      <div class="main-container">
        <label for="question7"><h2>7. Do you think you are a burden to your loved ones?</h2>
        </label>
        <div class="radio-buttons">
            <label class="custom-radio">
            <input type="radio" id="q71" value='1' name="question7" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/notatall-1.png">
                <h3 class="">Not At All</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q72" value='2' name="question7" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                            <img src="../static/images/slightly-1.png">
                <h3 class="">Slightly</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"id="q73" value='3' name="question7" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                  <img src="../static/images/moderately-1.png">
                <h3 class="">Moderately</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q74" value='4' name="question7"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
               <img src="../static/images/often-1.png">
                <h3 class="">Often</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q75" value='5' name="question7"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/always-1.png">
                <h3 class="">Always</h3>
              </div>
            </span>
          </label>
          
        </div>
        
      </div>
      <div class="main-container">
        <label for="question8"><h2>8. Do you feel like the emotional and physical pain you are going
          through is unbearable?</h2>
        </label>
        <div class="radio-buttons">
            <label class="custom-radio">
            <input type="radio" id="q81" value='1' name="question8" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/notatall-1.png">
                <h3 class="">Not At All</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q82" value='2' name="question8" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                            <img src="../static/images/slightly-1.png">
                <h3 class="">Slightly</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"id="q83" value='3' name="question8" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                  <img src="../static/images/moderately-1.png">
                <h3 class="">Moderately</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q84" value='4' name="question8"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
               <img src="../static/images/often-1.png">
                <h3 class="">Often</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q85" value='5' name="question8"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/always-1.png">
                <h3 class="">Always</h3>
              </div>
            </span>
          </label>
          
        </div>
        
      </div>
      <div class="main-container">
        <label for="question9"><h2>9.Hobbies can be a great escape. Do you have anything you enjoy doing in your free time?</h2>
        </label>
        <div class="radio-buttons">
            <label class="custom-radio">
            <input type="radio" id="q91" value='1' name="question9" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/notatall-1.png">
                <h3 class="">Not At All</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q92" value='2' name="question9" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                            <img src="../static/images/slightly-1.png">
                <h3 class="">Slightly</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"id="q93" value='3' name="question9" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                  <img src="../static/images/moderately-1.png">
                <h3 class="">Moderately</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q94" value='4' name="question9"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
               <img src="../static/images/often-1.png">
                <h3 class="">Often</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q95" value='5' name="question9"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/always-1.png">
                <h3 class="">Always</h3>
              </div>
            </span>
          </label>
          
        </div>
        
      </div>
      <div class="main-container">
        <label for="question10"><h2>10.Setting goals helps keep us focused. What are you looking forward to in the coming months?</h2>
        </label>
        <div class="radio-buttons">
            <label class="custom-radio">
            <input type="radio" id="q101" value='1' name="question10" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/notatall-1.png">
                <h3 class="">Not At All</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q102" value='2' name="question10" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                            <img src="../static/images/slightly-1.png">
                <h3 class="">Slightly</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio"id="q103" value='3' name="question10" >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                  <img src="../static/images/moderately-1.png">
                <h3 class="">Moderately</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q84" value='4' name="question8"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
               <img src="../static/images/often-1.png">
                <h3 class="">Often</h3>
              </div>
            </span>
          </label>
          <label class="custom-radio">
            <input type="radio" id="q85" value='5' name="question8"  >
            <span class="radio-btn"><i class="las la-check"></i>
              <div class="hobbies-icon">
                <img src="../static/images/always-1.png">
                <h3 class="">Always</h3>
              </div>
            </span>
          </label>
          
        </div>
        
      </div>
     
      <div class="submit">
      <input type="submit" value="Submit" />
      </div>
    </form>
    </div>
<!-- </body>
</html> -->
{% endblock %}
