{% extends "base.html" %} {% block title %} Signup {% endblock %} {% block
content %}
<!-- Import the CSS file -->
<link
  rel="stylesheet"
  type="text/css"
  rel="stylesheet"
  type="text/css"
  href="/static/signup.css"
/>
<form action="{{ url_for('signup') }}" method="post" class="signup-form">
  <h2>Signup</h2>

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required />

  <label for="age">Age:</label>
  <input type="number" id="age" name="age" required />

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />

  <label for="gender">Gender:</label>
  <select id="gender" name="gender" required>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <option value="PreferNotSay">Prefer not say</option>
    <!-- Add other gender options as needed -->
  </select>

  <label for="phoneNumber">Phone Number:</label>
  <input type="tel" id="phoneNumber" name="phoneNumber" required />

  <button type="submit">Signup</button>
</form>


{% endblock %}
