{% extends "base.html" %} {% block title %}User{% endblock %} {% block content%}

<link
  rel="stylesheet"
  type="text/css"
  rel="stylesheet"
  type="text/css"
  href="/static/user.css"
/>
<div class="card">
  <div class="card_background_img"></div>
  <div class="card_profile_img"></div>
  <div class="user_details">
    <h3>Nalini Prasad Dash</h3>
  </div>
  <div class="card_count">
    <div class="count">
      <div class="following">
        <h3>2002</h3>
        <!-- <div class="point_profile_img"></div> -->
        <p>Points</p>
      </div>
      <div class="post">
        <h3>5</h3>
        <!-- <div class="badge_profile_img"></div> -->
        <p>Badges</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
